* { margin: 0; padding: 0; }
body {
    display: flex;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.pokemon {
    width: 150px;
    height: 170px;
    text-align: center;
    background-color: #ddd;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
.pokemon img {
    width: 100%;
}
.add-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}