<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar pokémon</title>
</head>
<body>
    <form action="/store" method="POST">
        <input type="text" name="nome" placeholder="nome" required>
        <input type="text" name="img" id="URL da imagem" required>
        <input type="submit" value="adicionar" required>
    </form>
    <h1>
        Explore em: <link> https://www.pokemon.com/br/pokedex/ </link>
    </h1>
</body>
</html>